---
import navigation from '$content/navigation.json'
import global from '$content/global.json'
import feather from 'feather-icons'

type Social = 'facebook' | 'twitter' | 'instagram' | 'linkedin'

let { logo, alt_logo } = global
let { links, call_to_action, social_links } = navigation
---

<script>
  let menus = document.querySelectorAll<HTMLButtonElement>(
    '.open-menu, .close-menu'
  )
  let linkMenu = document.querySelector<HTMLDivElement>('.link-menu')
  menus.forEach((menu) =>
    menu.addEventListener('click', () => {
      if (linkMenu) {
        let currentState = linkMenu.dataset.state
        console.log(currentState)
        if (currentState === 'active') {
          linkMenu.dataset.state = 'inactive'
        } else {
          linkMenu.dataset.state = 'active'
        }
      }
    })
  )
</script>

<header class="desktop-layout" data-enter data-delay="1.25" data-duration="2">
  <div class="nav-bar">
    <div class="logo light">
      <a href="/">
        {
          logo && (
            <img src={logo.image} alt={logo.alt} width="148" height="25" />
          )
        }
      </a>
    </div>
    <div class="logo dark">
      <a href="/">
        {
          alt_logo && (
            <img
              src={alt_logo.image}
              alt={alt_logo.alt}
              width="148"
              height="25"
            />
          )
        }
      </a>
    </div>
    <button
      type="button"
      class="open-menu"
      aria-label="Open Menu"
      set:html={feather.icons.menu.toSvg()}
    />
    <div class="link-menu" data-state="inactive">
      <div class="top-bar">
        <a href="/">
          {
            alt_logo && (
              <img
                src={alt_logo.image}
                alt={alt_logo.alt}
                width="148"
                height="25"
              />
            )
          }
        </a>
        <button
          type="button"
          class="close-menu"
          aria-label="Close Menu"
          set:html={feather.icons.x.toSvg()}
        />
      </div>
      <nav class="nav">
        <ul class="nav-list">
          {
            links.map((link) => (
              <li>
                <a href={link.url} class="link">
                  {link.text}
                </a>
              </li>
            ))
          }
          {
            call_to_action && (
              <li>
                <a href={call_to_action.url} class="button">
                  {call_to_action.text}
                </a>
              </li>
            )
          }
        </ul>
      </nav>
      <ul class="social">
        {
          social_links.map(({ platform, url }) => (
            <li>
              <a
                href={url}
                set:html={feather.icons[platform.toLowerCase() as Social].toSvg(
                  {
                    width: 32,
                    height: 32,
                  } as feather.FeatherAttributes
                )}
              />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</header>

<style>
  @media (--md-n-below) {
    header {
      position: sticky;
      inset-block-start: 0;
      transform: none !important;
      z-index: 1;
    }
  }

  .logo {
    &.dark {
      @media (--OSlight) {
        display: none;
      }
    }

    &.light {
      @media (--OSdark) {
        display: none;
      }
    }
  }

  .nav-bar {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: start;
    padding: var(--size-7) var(--size-6);
    font-size: 0.875rem;
    background-color: var(--surface-1);

    @media (--md-n-above) {
      align-items: center;
      padding: var(--size-8) var(--size-5);
    }
  }

  .top-bar {
    padding: var(--size-7) var(--size-6);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 1;

    @media (--md-n-above) {
      display: none;
    }
  }

  .link-menu {
    @media (--md-n-below) {
      display: grid;
      grid-template-rows: auto auto 1fr;
      position: fixed;
      inset: 0;
      background-color: hsl(var(--text-1-hsl) / 90%);
      transition: all 0.5s var(--ease-4);
      opacity: 0;
      visibility: hidden;

      &[data-state='active'] {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .nav-list {
    list-style: none;
    display: flex;
    gap: var(--size-8);
    align-items: center;
    padding-inline-end: var(--size-7);

    @media (--md-n-below) {
      padding: 0 var(--size-6);
      display: grid;
      gap: 0;
      text-align: center;
      transition: translate 0.5s var(--ease-4);
      translate: 0 var(--size-3);

      [data-state='active'] & {
        translate: 0 0;
      }
    }
  }

  .button.button {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: var(--font-letterspacing-4);

    @media (--md-n-below) {
      display: block;
      margin-block-start: var(--size-5);
      background-color: transparent;
      box-shadow: none;
      border: 2px solid var(--surface-0);
      font-size: var(--font-size-3);

      &:hover {
        background-color: transparent;
        color: var(--accent-2);
        border-color: var(--accent-2);
        box-shadow: none;
      }
    }

    @media (--md-n-above) {
      --button-color: var(--accent-2);
      padding: 0.75rem var(--size-7);
    }
  }

  .link {
    @media (--md-n-below) {
      border-block-start: 1px solid hsl(0 100% 100% / 10%);
      --text-3: var(--surface-0);
      display: block;
      font-size: var(--font-size-3);
      padding: var(--size-4) 0;

      &:last-child {
        border-block-end: 1px solid hsl(0 100% 100% / 10%);
      }
    }
  }

  .open-menu,
  .close-menu {
    color: var(--text-1);
    font-size: var(--font-size-3);
    padding: var(--size-3);
    margin: calc(var(--size-3) * -1);

    @media (--md-n-above) {
      display: none;
    }
  }

  .close-menu {
    color: var(--surface-0);
  }

  .social {
    align-self: end;
    display: flex;
    justify-content: center;
    gap: var(--size-7);
    margin-block-end: var(--size-8);

    @media (--md-n-above) {
      display: none;
    }

    & a {
      color: var(--surface-0);
    }
  }
</style>
